# Working with lists

In [1]:
# Looping through the list

In [2]:
list_name = ['jack', 'jill', 'tom']
for name in list_name:           # name is iterator
    print(name)

jack
jill
tom

In [4]:
list_name = ['jack', 'jill', 'tom']
for name in list_name:
print(name)             # Indentation error

IndentationError: expected an indented block (<ipython-input-4-31a3af28ccec>, line 3)

In [5]:
list_name = ['jack', 'jill', 'tom']
for name in list_name:
    print(name + " Welcome to python course")

jack Welcome to python course
jill Welcome to python course
tom Welcome to python course

In [6]:
# Doing something after for loop

In [7]:
list_name = ['jack', 'jill', 'tom']
for name in list_name:
    print(name + " Welcome to python course\n")
print("Hope you enjoy the course!")

jack Welcome to python course

jill Welcome to python course

tom Welcome to python course

Hope you enjoy the course!

In [8]:
# Error while working with for loop

In [9]:
# Indentation error use tab for indentation
list_name = ['jack', 'jill', 'tom']
for name in list_name:
print(name)

IndentationError: expected an indented block (<ipython-input-9-ee9ce05481ad>, line 4)

In [10]:
list_name = ['jack', 'jill', 'tom']
for name in list_name:
    print(name)
    print("How are you!")

jack
How are you!
jill
How are you!
tom
How are you!

In [11]:
# forgetting indentation
# No error while working with multiple lines in for loop
list_name = ['jack', 'jill', 'tom']
for name in list_name:
    print(name)
print("How are you!")

jack
jill
tom
How are you!

In [12]:
# unexpected indentation
message = "hello"
    print(message)

IndentationError: unexpected indent (<ipython-input-12-98f653fe545a>, line 3)

In [13]:
# Forgetting semicolon
list_name = ['jack', 'jill', 'tom']
for name in list_name
    print(name)

SyntaxError: invalid syntax (<ipython-input-13-029845c486a5>, line 3)

In [16]:
places = ['a', 'b' , 'c' , 'd' , 'e']
for name in places:
    print(name)
    print("I like " + name)

a
I like a
b
I like b
c
I like c
d
I like d
e
I like e

# Numerical lists

In [1]:
# range function

In [5]:
for value in range(1,5):    # start inclusive and stop exclusive
    print(value)

1
2
3
4

In [6]:
for value in range(1,6):    # start inclusive and stop exclusive
    print(value)

1
2
3
4
5

In [7]:
# creating a list of number

In [8]:
num = list(range(1,6)) # creating list of number
print(num)

[1, 2, 3, 4, 5]

In [9]:
num = list(range(1,15))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
num = list(range(1,15,2)) # adding step to range function 
print(num)

[1, 3, 5, 7, 9, 11, 13]

In [11]:
num = list(range(2,15,2)) # adding step to range function 
print(num)

[2, 4, 6, 8, 10, 12, 14]

In [13]:
3**3 # exponential function

27

In [15]:
for num in range(1,11):
    print(num**2)

1
4
9
16
25
36
49
64
81
100

In [17]:
item = []    # Creating list of number
for num in range(1,11):
    value = num**2
    item.append(value)
print(item)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [18]:
# statistics of list of number

In [33]:
item

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 0, 100, 1, 101, 101, 101]

In [22]:
print(min(item)) # finding min

1

In [23]:
print(max(item)) # finding max

100

In [24]:
print(sum(item)) # finding sum

385

In [34]:
item.append(0)

In [35]:
item.append(100)
item.append(1)
item.append(101)

In [36]:
print(item)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 0, 100, 1, 101, 101, 101, 0, 100, 1, 101]

In [37]:
print(min(item))

0

In [38]:
print(max(item))

101

In [39]:
print(sum(item))

991

In [40]:
item.append(101)
print(item)
print(max(item))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 0, 100, 1, 101, 101, 101, 0, 100, 1, 101, 101]
101

In [41]:
# list comprehensions

In [44]:
sq = [value**2 for value in range(1,11)]
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
num = []
for i in range(1,11,2):
    num.append(i)
print(num)
sq = [value**2 for value in range(1,11)]
print(sq)

[1, 3, 5, 7, 9]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
num = [i for i in range(1,11)]

print(num)

num = [i for i in num if i%2==0]

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

In [52]:
# working with part of list

In [53]:
# slicing of list

In [54]:
cars = ['a','b','c','d']
print(cars)

['a', 'b', 'c', 'd']

In [56]:
print(cars[:3]) # slicing of list

['a', 'b', 'c']

In [57]:
print(cars[1:4]) # slicing of list

['b', 'c', 'd']

In [59]:
print(cars[::]) # omitting the start and end of the lists

['a', 'b', 'c', 'd']

In [63]:
print(cars[-3:-1:])

['b', 'c']

In [64]:
# looping through the slice

In [66]:
print("first three cars:")
for car in cars[:3]:
    print(car)

first three cars:
a
b
c

In [67]:
# copying a list

In [72]:
new_car = cars[:]  # cars and new_car is two separte list
print(new_car)
new_car[0] = 'e'
print(new_car)

['a', 'b', 'c', 'd']
['e', 'b', 'c', 'd']

In [73]:
print(cars)

['a', 'b', 'c', 'd']

In [74]:
cars.append('e')
print(cars)
print(new_car)

['a', 'b', 'c', 'd', 'e']
['e', 'b', 'c', 'd']

In [75]:
item = cars # points to a same list and both lists points to same location so add square bracket for avoiding this

In [76]:
print(item)

['a', 'b', 'c', 'd', 'e']

In [77]:
cars=['bmw','audi','toyota','hyundai','ferrari']
for car in cars[:3]:
    print(car)

bmw
audi
toyota

In [82]:
cars=['bmw','audi','toyota','hyundai','ferrari']
for car in cars[-3:]:
    print(car)

toyota
hyundai
ferrari

In [84]:
cars=['bmw','audi','toyota','hyundai','ferrari']
for car in cars[1:3:]:
    print(car)

audi
toyota

In [85]:
cars=['bmw','audi','toyota','hyundai','ferrari']
new_cars = cars[:]
print(new_cars)

['bmw', 'audi', 'toyota', 'hyundai', 'ferrari']

# Tuples

In [86]:
# immutable list is tuples

In [87]:
# use parentheses instead of square brackets

In [88]:
num = (1,2,3,34,45,6)
print(num)

(1, 2, 3, 34, 45, 6)

In [89]:
num.count(1)

1

In [90]:
num.index(3)

2

In [91]:
num.index(6)

5

In [93]:
num.append(1) # immutable i.e cannot be changed

AttributeError: 'tuple' object has no attribute 'append'

In [94]:
print(num)

(1, 2, 3, 34, 45, 6)

In [97]:
print(num[0]) # Accessing elements of tuples
print(num[3])

1
34

In [98]:
# looping through the tuples

In [99]:
print(num)
for i in num[1:4]:
    print(i)

(1, 2, 3, 34, 45, 6)
2
3
34

In [100]:
# writing to tuples

In [101]:
print(num)

(1, 2, 3, 34, 45, 6)

In [102]:
num[0] = 6
print(num)

TypeError: 'tuple' object does not support item assignment

In [103]:
num = (1,2,23,4,5,6,8)
print(num)

(1, 2, 23, 4, 5, 6, 8)

In [104]:
dim = (1,2,3)
for i in dim:
    print(i)

1
2
3

In [125]:
dim = (1,2,3)
print(dim[0])
print(dim[1])
print(dim[2])
print(dim)

1
2
3
(1, 2, 3)

In [119]:
dim = (1,2,3)
dim = (dim[0] + 50, dim[1] + 50, dim[2] + 50)
for i in dim:
    print(i)
dim[0] = 100

51
52
53

TypeError: 'tuple' object does not support item assignment

In [120]:
triangle=(100,200,300)

triangle[0]=150

triangle[1]=250

triangle[2]=350

for a in triangle:

    print(triangle)

TypeError: 'tuple' object does not support item assignment

# Conditional statements

In [121]:
# if statements, if-else statements, if else ladder

In [122]:
num = [1,2,3,4,5]
if num[0] == 1:
    print("Hello")

Hello

In [123]:
num = [1,2,3,4,5]
for n in num:
    if n == 4:
        print(n)

4

In [124]:
# conditional test

In [128]:
# assignment operator and equality operator

In [136]:
cars = ['a','b','c','d']
for car in cars:
    if car == 'c':
        print(car.upper())
    else:
        print(car)

a
b
C
d

In [137]:
print("hello".upper())

HELLO

In [138]:
print("HELLO".lower())

hello

In [139]:
# checking for inequality

In [140]:
name = "jack"
if name != "jill":
    print("hello " + name)
else:
    print("hello jill")

hello jack

In [141]:
a = 10
if a > 10:
    print("a is greater than 10")
else:
    print("a is less than 10")

# Numerical Comparisons

In [144]:
age = 45
if age < 18:
    print("Your ticket fare is $5")
elif age < 50:
    print("Your ticket fare is $10")
else:
    print("Your ticket fare is $7.5")

Your ticket fare is $10

In [145]:
age < 50 # Return boolean results

True

In [146]:
age > 40

True

In [147]:
age < 40

False

# Multiple conditions

In [148]:
age = 45
if age < 18:
    print("Your ticket fare is $5")
elif age < 50 and age >= 18:
    print("Your ticket fare is $10")
else:
    print("Your ticket fare is $7.5")

Your ticket fare is $10

In [149]:
age = 20
age > 10 and age < 20

False

In [150]:
age > 10 or age < 20

True

In [151]:
# check value in the list

In [152]:
num = [1,2,3,4,5,6,7]

In [153]:
2 in num # use of in operator i.e check for existence in list

True

In [154]:
8 in num

False

In [155]:
if 2 in num:
    print("2 is present in num")
else:
    print("2 is not present in num")

2 is present in num

In [157]:
if 8 in num:
    print("8 is present in num")
else:
    print("8 is not present in num")

8 is not present in num

In [158]:
# Boolean expression

In [159]:
num = True
if num == False:
    print(num)

In [160]:
num = True
if num == True:
    print(num)

True

In [168]:
num = 0
if num == True:
    print(num)

In [169]:
0 == False

True

In [170]:
2 == True

False

In [171]:
0 == True

False

In [172]:
2 == False

False

In [173]:
1 == True

True

In [175]:
cars=['audi','bmw','toyota','ferrari','Hyundai']
if "Audi".lower() in cars:
    print('Car Audi is available')

Car Audi is available